# 仮想環境
**/.venv_agri/**

# ローカルの設定ファイル
**/config/**
!**/config/api-config.json
!**/config/device-config.yaml

# ログディレクトリ
**/log/**

# サンプルディレクトリ構造
**/minelab-iot-storage/**

# ローカルの設定ファイル
.python-version

# キャッシュ
**/__pycache__/**

# test
**/test/**