# 仮想環境
**/.venv_agri/**

# ローカルの設定ファイル
**/config/**
!**/config/sample.json

# ログディレクトリ
**/log/**
!**/log/sample.log

# サンプルディレクトリ構造
**/minelab-iot-storage/**

# キャッシュ
**/__pycache__/**

# test
**/test/**